@charset "UTF-8";


@media (max-width: 1200px) {
    main {
        height: 300px;
    }
    #cadastroform{
        display: none;
    }
    #projeto {
        height: 200px;
    }
    #projeto-text {
        margin: auto;
    }
    #textl {
        display: none;
    }
    #detalhes {
        display: none;
    }
    #interior {
        margin: auto;
        padding: 10px 200px;
    }
    #interior-img-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 50px;
    }
    #virgula {
        display: none;
    }
    #social-media {
        display: none;
    }
}
@media (max-width: 768px) {
    main {
        background-position: left;
        height: 400px;
        padding: 1px;
    }
    #cabeça {
        flex-direction: column;
        color: black;
    }
    #contato  {
        flex-direction: row;
    }
    #abertura {
        justify-content: center;
    }
    #detalhes {
        display: none;
    }
    #interior-img-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 50px;
    }
}